@using A11DotNetMVC.Models.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Departments List";
}

@model List<Department>;

<div class="container">
    <div class="card p-3 border-1 border-secondary rounded">
        <div class="d-flex align-items-center justify-content-between bg-dark p-3">
            <h2 class="display-6 text-center text-light fw-bolder">Departments List</h2>
            <a class="btn btn-primary" asp-action="Create">Add Department</a>
        </div>
        <table class="table table-striped tabled-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Dept. Name</th>
                    <th>No of Employees</th>
                    <th>Dept. Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var dept in Model)
                {
                    <tr>
                        <td>@dept.Id</td>
                        <td>@dept.Name</td>
                        <td>@dept.NoOfEmployees</td>
                        <td>@dept.Location</td>
                        <td class="d-flex align-items-center justify-content-center gap-2">
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@dept.Id">Edit</a>
                            <form method="post" asp-action="Delete" asp-route-id="@dept.Id">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
